<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=9Y5RatRZ2Wkv6np3OtiZrodGy9it7TQwIyK87lBLzee4H0eiw2xDl7luxzFyFXe5K5MvMWHUvOhoAYv474uUk123O6zpXS57qTG_3VxNVK4FQR1MA0qVDYHvFz30LvROIaKej2opXCtdC4f7ZvDcgQ" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9tb29kbGUuY2N0LmllL3BsdWdpbmZpbGUucGhwLzIxMzA2NS9tb2RfcmVzb3VyY2UvY29udGVudC8wL2luZGV4Lmh0bWw_Zm9yY2Vkb3dubG9hZD0x"/><script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    </head>
<body>
    <ion-app>
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="3" >
                    <img src="./assets/images/01.jpg" size-md="6" fill="outline">
                </ion-col>
                <ion-col size="12" size-md="3">
                    <!-- Sizes : xs sm md lg -->
                    <img src="./assets/images/02.jpg" size-md="6" fill="outline">
                </ion-col>
                <ion-col size="12" size-md="3">
                    <!-- Sizes : xs sm md lg -->
                    <img src="./assets/images/03.jpg" size-md="6" fill="outline">
                </ion-col>
                <ion-col size="12" size-md="3">
                    <!-- Sizes : xs sm md lg -->
                    <img src="./assets/images/04.jpg" size-md="6" fill="outline">
                </ion-col>
                <ion-col size="12" size-md="3">
                    <!-- Sizes : xs sm md lg -->
                    <img src="./assets/images/05.jpg" size-md="6" fill="outline">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-app>


    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 4</ion-title>
      </ion-toolbar>
    </ion-header>
  
</body>
</html>
